<!DOCTYPE html>

<html lang="en">



  <% include ../partials/head %>



  <body>



    <% include ../partials/navbar %>



    <!-- Marketing messaging and featurettes

    ================================================== -->

    <!-- Wrap the rest of the page in another container to center all the content. -->



    <div class="container marketing">



      <!-- START THE FEATURETTES -->



      <hr class="featurette-divider">



      <div class="row featurette">

        <div class="col-md-7">

          <h2 class="featurette-heading">Matrix Chat<span class="text-muted">Rooms</span></h2>

          <p class="lead">Tuxemon has a home on <a href="https://matrix.org/">Matrix</a>. the federated, open source real-time communcation network. We generally talk about the game, keep users updated, and work on developing Tuxemon. You can connect to Matrix with a wide range of <a href="https://matrix.org/clients/">clients</a> across mobile, desktop and the command line, or in your browser.

          <ul>
              <li><p class="lead"><a href="https://matrix.to/#/!ktrcrHpgkDOGCQOlxX:matrix.org?via=matrix.org">Tuxemon Matrix Space</a>: Spaces are the Matrix communities, which serve as a home for all rooms related to a specific topic. <b>NOTE:</b> As of May 2021, Spaces are in Beta and may not be compatible with all Matrix Clients. For maximum compatiblity, considering using <a href="https://element.io/">Element</a></p></li>

              <li><p class="lead"><a href="https://matrix.to/#/!ktrcrHpgkDOGCQOlxX:matrix.org?via=matrix.org">#tuxemon-general:matrix.org</a>: the main channel for discussion and general support.</p></li>

              <li><p class="lead"><a href="https://matrix.to/#/!pfLcGFBHjfIOQDeCgy:matrix.org?via=matrix.org">#tuxemon-offtopic:matrix.org</a>: the social and off-topic channel for discussion not directly related to Tuxemon.</p></li>

          </ul>

          <p class="lead">The Matrix.org website has a detailed <a href="https://matrix.org/clients-matrix">Matrix client matrix</a> that lets you filter by support platforms and features.

        </div>

        <div class="col-md-5">

          <img class="featurette-image img-responsive" src="images/featurette-02.png" alt="Linux Install">

        </div>

      </div>



      <hr class="featurette-divider">





      <!-- /END THE FEATURETTES -->



 </body>



 <% include ../partials/footer %>

 <% include ../partials/bootstrap_footer %>



</html>



